<!-- malaria_app/templates/malaria_app/index.html -->

{% extends "malaria_app/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<style>
    form {
        display: flex;
        flex-direction: column; /* Afficher les éléments du formulaire en une seule colonne : donc une ligne pour champ*/
        max-width:400px;
        margin: auto;
        margin-top: 3%;
        margin-bottom: 2%;
        background-color: hsla(274, 86%, 6%, 0.794);
        border-radius: 8px; /*  Bordure arrondies   */
    }

    form input , label, textarea {
        display: block;
        margin: 5%; 
        margin-left: 15%;
        margin-right: 15%;
        font-size: 120%; 
        padding-left: 5%;
        padding-right: 5%;
    }

    form input, textarea {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', serif;
        height:50px;
        border-radius: 8px; /*  Bordure arrondies   */
        border: none ;
        
    }

    .custom-file-upload {
        display: block;
        margin: 5%; 
        margin-left: 15%;
        margin-right: 15%;
        font-size: 120%;
        padding: 10px 20px;
        padding-left: 5%; 
        padding-right: 5%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', serif;
        height: auto;
        border-radius: 8px; 
        border: 2px solid #ccc;
        cursor: pointer;
        background-color:white;
    }

    .custom-file-upload:hover {
        background-color: #e0e0e0;
    }

    input[type="file"] {
        display: none;
    }

    form input[type = "submit"] {
        margin-left: 20%;
        margin-right: 15%;
        margin-top: 8%;
        margin-bottom: 8%;
        max-width: 50%;
        height: 40px;
        background-color: hsla(19, 44%, 45%, 0.801);
        color: white;
        border: hsla(19, 44%, 45%, 0.801);
        max-inline-size: 40%; 
        font-size: inherit;
        font-weight: bold;
    }


    form input[type = "submit"]:hover {
        background-color: brown;
    }

    form textarea{
        height: 80px
    }
    /* Action lorsqu'on qu'on se pace sur un champ du formulaire */
    form :focus {
        background-color:hsla(20, 7%, 9%, 0.137);
        color :white ;
        border : 2px solid ivory;
        outline: none; /*Supprimer la bordure par défaut*/
    }

</style>
{% endblock %}

{% block NavBar %}
    <a href= '{% url "index" %}' class="main-nav-item activate">Accueil</a>
    <a href= '{% url "prediction" %}' class="main-nav-item">Détection du paludisme à partir d'un frottis sanguin</a>
{% endblock  %}
{% block content %}
    <!-- malaria_app/templates/malaria_app/index.html -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" 
               id="patient_name"
               name="paatient_name" 
               class="form-control"
               placeholder="Entrez le nom complet"
               required
               value="{{ form.paatient_name.value|default:'' }}">
    
    

    <div class="form-group file-upload">
        <label for="BloodSmearImg" class="custom-file-upload">
            <i class="fas fa-cloud-upload-alt"></i> Choisir une image de frottis sanguin
        </label>
        <input id="BloodSmearImg" 
               name="image" 
               type="file"
               accept=".jpg,.jpeg,.png,.webp"
               required
               onchange="updateLabel()">
        {% if form.image.errors %}
            <div class="error-message">{{ form.image.errors }}</div>
        {% endif %}
        <div class="image-preview" id="imagePreview"></div>
    </div>

    <textarea type="textarea" 
               id="noteMedical"
               name="noteMedical" 
               class="form-control"
               placeholder="Entrez la note medicale"
               required
               value="{{ form.noteMedical.value|default:'' }}"></textarea>

    
    
    <input id="submit" type="submit" value="Analyze">
</form>
{% endblock  %}

{% block AjaxScript %}
<script type="text/javascript">
    function updateLabel() {
            var input = document.getElementById('BloodSmearImg');
            var label = document.querySelector('label[for="BloodSmearImg"]');
            var fileName = input.files[0].name;
            var maxLength = 25;
        
            if (fileName.length > maxLength) {
                var truncatedFileName = fileName.substring(0, maxLength - 3) + '...';
                label.textContent = truncatedFileName;
            } else {
                label.textContent = fileName;
            }
        }
</script>
{% endblock  %}